# SPDX-FileCopyrightText: 2024 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-License-Identifier: Apache-2.0
---
global:
  domain: {{ .Values.global.domain | quote }}
  hosts:
    {{ .Values.global.hosts | toYaml | nindent 4 }}
  imagePullSecrets:
    {{ .Values.global.imagePullSecrets | toYaml | nindent 4 }}

configuration:
  username: "adminbot"
  pod: "opendesk-synapse-0"
  secretName: "matrix-adminbot-account"
  {{- if .Values.externalSecrets.enabled }}
  passwordExistingSecret:
    name: {{ .Values.externalSecrets.name | quote }}
    key: "MATRIX_ADMINBOT_PASSWORD"
  {{- else }}
  password: {{ .Values.secrets.matrixAdminBot.password.value | quote }}
  {{- end }}
  pipeConfig:
    enabled: true
    type: "admin"
    secretName: "matrix-adminbot-config"
    serviceUrl: "http://opendesk-synapse-web:8008"
    homeserverName: {{ .Values.global.matrixDomain | default .Values.global.domain | quote }}
    {{- if .Values.externalSecrets.enabled }}
    asTokenExistingSecret:
      name: {{ .Values.externalSecrets.name | quote }}
      key: "MATRIX_ADMINBOT_SYNAPSE_AS_TOKEN"
    hsTokenExistingSecret:
      name: {{ .Values.externalSecrets.name | quote }}
      key: "MATRIX_ADMINBOT_SYNAPSE_AS_TOKEN"
    backupPassphraseExistingSecret:
      name: {{ .Values.externalSecrets.name | quote }}
      key: "MATRIX_ADMINBOT_BACKUP_PASSPHRASE"
    {{- else }}
    asToken: {{ .Values.secrets.matrixAdminBot.synapseAsToken.value | quote }}
    hsToken: {{ .Values.secrets.matrixAdminBot.synapseAsToken.value | quote }}
    backupPassphrase: {{ .Values.secrets.matrixAdminBot.backupPassphrase.value | quote }}
    {{- end }}
image:
  registry: {{ coalesce .Values.repositories.image.dockerHub .Values.global.imageRegistry .Values.images.synapseCreateUser.registry | quote }}
  url: {{ .Values.images.synapseCreateUser.repository | quote }}
  tag: {{ .Values.images.synapseCreateUser.tag | quote }}
  imagePullPolicy: {{ .Values.global.imagePullPolicy | quote }}
fullnameOverride: "matrix-adminbot-bootstrap"
...
