# SPDX-FileCopyrightText: 2024 Zentrum für Digitale Souveränität der Öffentlichen Verwaltung (ZenDiS) GmbH
# SPDX-License-Identifier: Apache-2.0
---
global:
  domain: {{ .Values.global.domain | quote }}
  hosts:
    {{ .Values.global.hosts | toYaml | nindent 4 }}
  imagePullSecrets:
    {{ .Values.global.imagePullSecrets | toYaml | nindent 4 }}

configuration:
  username: "auditbot"
  pod: "opendesk-synapse-0"
  secretName: "matrix-auditbot-account"
  passwordExistingSecret:
    name: {{ .Values.secrets.matrixAuditBot.password.name | quote }}
    key: {{ .Values.secrets.matrixAuditBot.password.key | quote }}
  pipeConfig:
    enabled: true
    type: "admin"
    secretName: "matrix-auditbot-config"
    asTokenExistingSecret:
      name: {{ .Values.secrets.matrixAuditBot.synapseAsToken.name | quote }}
      key: {{ .Values.secrets.matrixAuditBot.synapseAsToken.key | quote }}
    hsTokenExistingSecret:
      name: {{ .Values.secrets.matrixAuditBot.synapseAsToken.name | quote }}
      key: {{ .Values.secrets.matrixAuditBot.synapseAsToken.key | quote }}
    serviceUrl: "http://opendesk-synapse-web:8008"
    backupPassphraseExistingSecret:
      name: {{ .Values.secrets.matrixAuditBot.backupPassphrase.name | quote }}
      key: {{ .Values.secrets.matrixAuditBot.backupPassphrase.key | quote }}
    homeserverName: {{ .Values.global.matrixDomain | default .Values.global.domain | quote }}
image:
  registry: {{ coalesce .Values.repositories.image.dockerHub .Values.global.imageRegistry .Values.images.synapseCreateUser.registry | quote }}
  url: {{ .Values.images.synapseCreateUser.repository | quote }}
  tag: {{ .Values.images.synapseCreateUser.tag | quote }}
  imagePullPolicy: {{ .Values.global.imagePullPolicy | quote }}
fullnameOverride: "matrix-auditbot-bootstrap"
...
